<div class="main-top">
  <div class="left-top">
    <div class="top-title">
      fogefuga
    </div>
  </div>
  <div class="light-top">
    <div class="chat-end">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="main-room">
  <div class="main-messages">
    <div class="main-message">
      <div class="name">
        Tom
      </div>
      <div class="time">
        2020/3/31(Wed) 12:00:00
      </div>
    </div>
    <div class="message">
      おはよう
    </div>
  </div>
  <div class="main-messages">
    <div class="main-message">
      <div class="name">
        Tom
      </div>
      <div class="time">
        2020/3/31(Wed) 22:30:00
      </div>
    </div>
    <div class="message">
      こんばんは
    </div>
  </div>
</div>

<div class="main-bottom">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>