<div class="side-top">
  <div class="user-name">
    <a href="#">Tom</a>
  </div>
  <div class="chat-create">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-room">
  <div class="chat-room">
    <div class="chat-room-name">
      <a href="#">chatroom1</a>
    </div>
  </div>
  <div class="chat-room">
    <div class="chat-room-name">
      <a href="#">chatroom2</a>
    </div>
  </div>
</div>